<hr />
<div class="container">
    <div *ngIf="auth.isAdmin()">
        <button class="btn btn-success" (click)="loadAllProducts()">View All Products</button>
        |
        <button class="btn btn-success" (click)="showFind()">Find By Product Code</button>
        |
        <button class="btn btn-success" (click)="showUpdate()">Update A Product</button>
        |
        <button class="btn btn-success" (click)="showAdd()">Add A Product</button>
        |
        <button class="btn btn-success" (click)="showDelete()">Remove A Product</button>
    </div>

    <div *ngIf="auth.isCustomer()">
        <button class="btn btn-success" (click)="loadAllProducts()">Shop All Products</button>
    </div>
</div>

<br/>

<div *ngIf="auth.isCustomer() == true" class="container">
    <select class="selectpicker dropdown" name="company" data-live-search="true" #selectCompany ngModel>
        <option *ngFor="let c of companies" [value]="c._id">{{c.name}}</option>
    </select>
    <br /><br />
    <button (click)="findByCompany(selectCompany.value)">Filter By Brand</button>
</div>

<div *ngIf="viewAllFlag" class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Product Code</th>
                <th>Company</th>
                <th>Product Name</th>
                <th>Details</th>
                <th>Image</th>
                <th>Price</th>
                <th *ngIf="auth.isCustomer()">Add To Cart</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of products">
                <td>{{p.code}}</td>
                <td>{{p.company.name}}</td>
                <td>{{p.name}}</td>
                <td>{{p.details}}</td>
                <td><img class="productImage" src="{{p.image}}"></td>
                <td>${{p.price}}</td>
                <td *ngIf="auth.isCustomer()">Add To Cart</td>
            </tr>
        </tbody>
    </table>
</div>

<div *ngIf="findFlag" class = "container">
    <h4>Search Product Code</h4>
    <input type="text" placeholder="Enter Product Code" #pName ngModel><br/><br/>
    <button (click)="findByName(pName.value)">Search Product</button>
    
    <div *ngIf="showTableFlag">
        <br/>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Product Code</th>
                    <th>Company</th>
                    <th>Product Name</th>
                    <th>Details</th>
                    <th>Image</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of product">
                    <td>{{p.code}}</td>
                    <td>{{p.company.name}}</td>
                    <td>{{p.name}}</td>
                    <td>{{p.details}}</td>
                    <td><img class="productImage" src="{{p.image}}"></td>
                    <td>${{p.price}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div *ngIf="updateFlag" class = "container">
    <h4>Update A Product</h4>
    <form #updateForm="ngForm" (ngSubmit)="updateProduct(updateForm.value)">
        <input type="text" placeholder="Enter Product Code" name="code" ngModel><br/><br/>
        <input type="text" placeholder="Enter Updated Product Code" name="ucode" ngModel><br/><br/>
        <input type="text" placeholder="Enter Product Name" name="name" ngModel><br/><br/>
        <input type="text" placeholder="Enter Product Details" name="details" ngModel><br/><br/>
        <input type="text" placeholder="Enter Image" name="image" ngModel><br /><br/>
        <input type="text" placeholder="Enter Price" name="price" ngModel><br /><br/>
        <select class="selectpicker dropdown" name="company" data-live-search="true" ngModel>
            <option *ngFor="let c of companies" [value]="c._id">{{c.name}}</option>
        </select>
        <br />
        <br />
        <input type="submit" value="Update A Product">
    </form>
    {{message}}
</div>

<div *ngIf="addFlag" class = "container">
    <h4>Add A Product</h4>
    <form #addForm="ngForm" (ngSubmit)="addProduct(addForm.value)">
        <input type="text" placeholder="Enter Product Code" name="code" ngModel><br/><br/>
        <input type="text" placeholder="Enter Product Name" name="name" ngModel><br/><br/>
        <input type="text" placeholder="Enter Product Details" name="details" ngModel><br/><br/>
        <input type="text" placeholder="Enter Image" name="image" ngModel><br /><br/>
        <input type="text" placeholder="Enter Price" name="price" ngModel><br /><br/>
        <select class="selectpicker dropdown" name="company" data-live-search="true" ngModel>
            <option *ngFor="let c of companies" [value]="c._id">{{c.name}}</option>
        </select>
        <br />
        <br />
        <input type="submit" value="Add A Product">
    </form>
    {{message}}
</div>

<div *ngIf="deleteFlag" class = "container">
    <h4>Delete A Product</h4>
    <input type="text" placeholder="Enter Product Code" #code ngModel><br /><br/>
    <button (click)="deleteCompany(code.value)">Delete Company</button>
    <br />
    {{message}}
</div>