<div *ngIf="notify" class="alert alert-success container marge">
    {{ notify }}
</div>
<hr />
<div *ngIf="loggedIn == true && auth.isAdmin()" class="container">
    <a class="nav-link btn btn-success" [routerLink]="['/product-list']">Manage Products</a>
    <br />
    <a class="nav-link btn btn-success" [routerLink]="['/companies-list']">Manage Companies</a>
</div>

<div *ngIf="loggedOut" class="container">
    Please Login To Continue.
</div>

<div *ngIf="loggedIn == true && auth.isCustomer()" class="container">
    <h4>Welcome to the home page!</h4>
</div>